<!DOCTYPE html>
<html>
<head>
    <title>Checkoout</title>
</head>
<body>
    <h1>Resumen de la Compra</h1>
    <div>
        {% for item in cart_items %}
            <div>
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="100">
                <p>{{ item.product.name }}</p>
                <p>Tienda: {{ item.product.store.name }}</p>
                <p>Precio: ${{ item.product.price }}</p>
                <p>Cantidad: {{ item.quantity }}</p>
                
                {% if item.promotion %}
                    <p>Promoción: {{ item.promotion.id }}</p>
                {% endif %}
                
                
            </div>
        {% endfor %}
    </div>
    <h2>Total: ${{ total_price }}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="address">Dirección de Entrega:</label>
        <input type="text" id="address" name="address" required><br>
        <label for="card_number">Número de Tarjeta:</label>
        <input type="text" id="card_number" name="card_number" required><br>
        <label for="payment_type">Tipo de Pago:</label>
        <select id="payment_type" name="payment_type">
            <option value="debit">Débito</option>
            <option value="credit">Crédito</option>
        </select><br>
        <button type="submit">Pagar</button>
    </form>
</body>
</html>