<!DOCTYPE html>
<html>
<head>
    <title>Store List</title>
    <style>
        .store, .product {
            display: inline-block;
            width: 200px;
            margin: 10px;
            text-align: center;
        }
        .store img, .product img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h2>Stores</h2>
    <div class="stores">
        {% for store in stores %}
            <div class="store">
                <a href="{% url 'store_view' store.id %}">
                <img src="{{ store.image_url }}" alt="{{ store.name }}" width="100">
                <p>{{ store.name }}</p>
            </div>
        {% endfor %}
    </div>
    <h2>Products</h2>
    <div class="products">
        {% for product in products %}
            <div class="product">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                    <p>{{ product.name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" style="border: none; background: none; padding: 0; color: blue; text-decoration: underline; cursor: pointer;">Logout</button>
    </form>

    <div>
        <a href="{% url 'login' %}">login</a>
    </div>

</body>
</html>